#!/bin/sh

# Adjust this file for your needs

a=${platform:=DM36x} # default platform

a=${board:=leopard_new} # default board (leopard/leopard_new/evm)

case ${platform}_${board} in

DM36x_leopard_new)
	ubl=files/leopard_new/ubl_nand.nandbin.klaus.LeopardBoardDM365sdkEVAL2011Q2.leopard
	uboot=files/leopard_new/bootloader.nandbin.klaus.LeopardBoardDM365sdkEVAL2011Q2.leopard
	kernel=files/leopard_new/uImage
	rootfs=files/common/ramdisk.gz
	;;

DM36x_leopard)
	ubl=files/common/UBL_DM36x_NAND.bin
	uboot=files/leopard/u-boot-leopard365.bin
	kernel=files/leopard/uImage-dm365
	rootfs=files/common/ramdisk.gz
	;;

DM36x_evm)
	ubl=files/common/UBL_DM36x_NAND.bin
	uboot=files/common/u-boot-1.3.4-dm365_evm.bin
	kernel=files/evm/uImage-dm365
	rootfs=files/common/ramdisk.gz
	;;

DM35x_leopard)
	ubl=files/leopard/ublDM355-nand.bin
	uboot=files/leopard/u-boot-1.2.0-dm355_leopard.bin
	kernel=files/leopard/uImage-dm355
	rootfs=files/leopard/ramdisk_leopard355.gz
	;;

DM35x_evm)
	ubl=files/evm/ublDM355-nand.bin
	uboot=files/common/u-boot-1.2.0-dm355_evm.bin
	kernel=files/evm/uImage-dm355
	rootfs=files/common/ramdisk.gz
	;;
esac 

# Expected location boot data file on autimatically mounted SD card.
# Change if it is mounted at another location.
data_file=`echo /media/*/dm3xx.dat`
